.entity-container {
    z-index: 2;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
}
.entity-container.dying {
    transition: all 2s ease;
    filter: blur(10px);
    opacity: 0.2;
    transform: translateY(-100vh);
}
.entity-container.animated-teleporting {
    transition: all 0.4s ease;
    filter: blur(2px);
    opacity: 0.6;
}

.enemy-container {
    filter: drop-shadow(-4px 24px 4px #00000080);
}

.entity-sprite {
    position: absolute;

    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    width: 128px;
    height: 128px;

    background-image: url('../assets/images/character/standing.png');
    background-size: 100%;

    filter: drop-shadow(-4px 24px 4px #00000080);
}

.enemy-sprite {
    filter: hue-rotate(-290deg);
}

.entity-container:not([direction="none"]) .entity-sprite {
    background-size: 512px;
    background-repeat: no-repeat;
    background-position: 0px;
}

.entity-container[walking] .entity-sprite {
    animation: spritesheet-animation steps(4) 0.8s infinite;
}

.entity-container[direction="right"] .entity-sprite {
    background-image: url('../assets/images/character/walk-right-frames.png');
}

.entity-container[direction="left"] .entity-sprite {
    background-image: url('../assets/images/character/walk-right-frames.png');
}
.entity-container[direction="left"] {
    transform: rotateY(180deg);
}

.entity-container[direction="top"] .entity-sprite {
    background-image: url('../assets/images/character/walk-up-frames.png');
}

.entity-container[direction="bottom"] .entity-sprite {
    background-image: url('../assets/images/character/walk-down-frames.png');
}

@keyframes spritesheet-animation {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -512px;
    }
}