@import url('./entity.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


#stage {
    background-image: url('../assets/images/image.png');
    background-size: 600px 450px;
}

#titleScreen.closed {
    @apply -translate-y-full;
}

.object {
    position: absolute;
    background-size: 100% 100%;
}

.rock {
    background-image: url('../assets/images/rock.png');
}
